Repository chhoumann/p4, pull requests merged in 2021-04, with the labels that each got.

#31 Small report refactor
  Report/__latexindent_temp.tex
  Report/bib/bibliography.bib
  Report/master.tex
  Report/sections/2_design/built-in-functionality.tex
  Report/sections/2_design/code_snippet.tex
  Report/sections/2_design/keywords.tex
  Report/sections/2_design/language_design.tex
  Report/sections/2_design/operator-symbols.tex
  Report/sections/2_design/statement-level-control-structures.tex
  Report/sections/2_design/use-cases.tex
Labels: report

#26 Member can now be function invocation
  Code/Antlr/Dazel.g4
Labels: code

#29 Antlr generated included in solution
  Code/Interpreter/Interpreter/Antlr/Dazel.g4
  Code/Interpreter/Interpreter/Antlr/example.txt
  Code/Interpreter/Interpreter/Interpreter.csproj
  Code/Interpreter/Interpreter/Parser/Dazel.interp
  Code/Interpreter/Interpreter/Parser/Dazel.tokens
  Code/Interpreter/Interpreter/Parser/DazelLexer.cs
  Code/Interpreter/Interpreter/Parser/DazelLexer.interp
  Code/Interpreter/Interpreter/Parser/DazelLexer.tokens
  Code/Interpreter/Interpreter/Parser/DazelParser.cs
  Code/Interpreter/Interpreter/Program.cs
Labels: code

#21 Parse generators
  Report/sections/2_design/Parse_generators.tex
Labels: report

#19 Design_evaluation
  Report/figures/Design_Criteria.png
  Report/master.tex
  Report/sections/2_design/Design_evaluation.tex
Labels: report

#38 Make type rules
  Report/sections/2_design/language_design.tex
  Report/sections/2_design/language_grammar.tex
  Report/sections/2_design/semantics.tex
  Report/sections/2_design/variables.tex
Labels: report

#41 Fix fx fatals
  Report/figures/BNF_Example.png
  Report/figures/BNF_Example_Terminals.png
  Report/sections/2_design/built-in-functionality.tex
  Report/sections/2_design/keywords.tex
  Report/sections/2_design/language_grammar.tex
  Report/sections/2_design/semantics.tex
  Report/sections/2_design/statement-level-control-structures.tex
  Report/sections/2_design/variables.tex
  Report/sections/4_recapitulation/conclusion.tex
Labels: report

#39 Problem Analysis
  Report/bib/bibliography.bib
  Report/master.tex
  Report/sections/1_analysis/Difficulties.tex
  Report/sections/1_analysis/Importance_of_programming.tex
  Report/sections/1_analysis/Learning.tex
  Report/sections/1_analysis/existing_solutions.tex
  Report/sections/1_analysis/initial_problem.tex
  Report/sections/1_analysis/problem_analysis.tex
  Report/sections/1_analysis/scientific_research.tex
  Report/sections/2_design/language_design.tex
Labels: report

#40 New problem analysis so redid language design intro.
  Report/sections/2_design/language_design.tex
Labels: report

#45 AST Builder tests
  Code/Interpreter/Interpreter/Antlr/Dazel.g4
  Code/Interpreter/Interpreter/Ast/AbstractSyntaxTree.cs
  Code/Interpreter/Interpreter/Ast/AstBuilder.cs
  Code/Interpreter/Interpreter/Ast/AstPrinter.cs
  Code/Interpreter/Interpreter/Ast/ExpressionVisitor.cs
  Code/Interpreter/Interpreter/Ast/GameObjectVisitor.cs
  Code/Interpreter/Interpreter/Ast/IAstBuilder.cs
  Code/Interpreter/Interpreter/Ast/IExpressionVisitor.cs
  Code/Interpreter/Interpreter/Ast/IGameObjectVisitor.cs
  Code/Interpreter/Interpreter/Ast/IStatementVisitor.cs
  Code/Interpreter/Interpreter/Ast/IVisitor.cs
  Code/Interpreter/Interpreter/Ast/Nodes/ExpressionNodes/FunctionInvocation.cs
  Code/Interpreter/Interpreter/Ast/Nodes/StatementNodes/AssignmentNode.cs
  Code/Interpreter/Interpreter/Ast/Nodes/StatementNodes/StatementExpression.cs
  Code/Interpreter/Interpreter/Ast/StatementVisitor.cs
  Code/Interpreter/Interpreter/Program.cs
  Code/Interpreter/Interpreter/SemanticAnalysis/SymbolTableBuilder.cs
  Code/Interpreter/Tests/AbstractSyntaxTreeTest.cs
  Code/Interpreter/Tests/AstBuilderTests.cs
  Code/Interpreter/Tests/TestTemplate.cs
  Code/Interpreter/Tests/Tests.csproj
  Code/Interpreter/Tests/dazel_test_code.txt
Labels: code, enhancement
